[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.10.0.82"
numpy = "<2"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.1"
